<form action="/create" method="post">
  <label for=“new”_bookmark>Add Bookmark URL:</label><br>
  <input type="text" name="url"/> <br>
  <label for=“bookmark”_name>Add Bookmark title:</label><br>
  <input type="text" name="title"/>
  <input type="submit" name="Submit"/>
</form>